Summary and Private resolution on tickets.json
{
  "name": "Summary and Private resolution on tickets",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        480
      ],
      "id": "df906bff-c45c-4e98-84f4-225abf3138d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Dh6MTzHp76KVZKlf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fdcustomername.freshdesk.com/api/v2/tickets/{{ $json.body.ticket_id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Base64EncodedPassword"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        288
      ],
      "id": "fc8f0d81-2cb8-4ce8-a75c-740af2e9311d",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16825f1d-cd97-445d-8b2d-7c6ab954e30c",
              "name": "Ticket ID",
              "value": "={{ $('Webhook').item.json.body.ticket_id }}",
              "type": "string"
            },
            {
              "id": "6dc06b91-3137-4491-abe0-2b8339d05fce",
              "name": "Ticket Subject",
              "value": "={{ $('Webhook').item.json.body.subject }}",
              "type": "string"
            },
            {
              "id": "224a12f2-528e-430e-87f4-2faf2818be17",
              "name": "From_Email",
              "value": "={{ $json.from_email }}",
              "type": "string"
            },
            {
              "id": "def9c094-86c3-4020-9f2a-b3f69f085c87",
              "name": "To_Emails",
              "value": "={{ $json.to_emails }}",
              "type": "string"
            },
            {
              "id": "87f7bbbb-aa8b-4f34-83c1-d4d69daa88fa",
              "name": "CC_Emails",
              "value": "={{ $json.cc_emails }}",
              "type": "string"
            },
            {
              "id": "be0cb76f-432c-479c-9053-450aabebe163",
              "name": "Body_Text",
              "value": "={{ $json.body_text }}",
              "type": "string"
            },
            {
              "id": "72df8090-ec0d-458b-a396-fee74f31f32b",
              "name": "CreatedAt",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "7f5bdc31-6854-49d9-b7fa-f59361d1d456",
              "name": "UpdatedAt",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        592
      ],
      "id": "f158d52d-f6a5-4570-8405-331e127057f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "instructions": "Remove the email signature from each conversation in the hidden_history.\nPlease ensure the hidden_history checks for 'company_website_here' and then remove the email signature or all text after these strings.",
        "codeGeneratedForPrompt": "Remove the email signature from each conversation in the hidden_history.\nPlease ensure the hidden_history checks for 'company_website_here' and then remove the email signature or all text after these strings.",
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const bodyText = item?.json?.Body_Text;\n  if (bodyText) {\n    const index = bodyText.indexOf(\"'company_website_here'\");\n    if (index !== -1) {\n      item.json.Body_Text = bodyText.substring(0, index);\n    }\n  }\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        -624,
        592
      ],
      "id": "3513cdc0-f2a5-4c27-8d8e-2d88287dc146",
      "name": "AI Transform"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Body_Text",
              "renameField": true,
              "outputFieldName": "Data"
            },
            {
              "fieldToAggregate": "From_Email",
              "renameField": true,
              "outputFieldName": "FromEmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -448,
        592
      ],
      "id": "25460137-c896-4b36-a271-b946676d5c26",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa29c2fe-f05d-46d3-9c0f-d0084c5e6f78",
              "leftValue": "={{ $json.output['Already Resolved?'].toLowerCase() }}",
              "rightValue": "=yes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        272
      ],
      "id": "ee2c1188-e359-463e-a1f2-9d0c80c5ae3f",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-summary-and-post-private-note-on-resolution",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1184,
        288
      ],
      "id": "f90b4904-da31-4c7f-a75f-5b992a69e075",
      "name": "Webhook",
      "webhookId": "24ebf325-dd1c-43c6-b4d0-f3a5c0cb31ec"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from bs4 import BeautifulSoup\n\ndef extract_hidden_email_history(html_body):\n    soup = BeautifulSoup(html_body, \"html.parser\")\n\n    # Extract content from <blockquote> tags\n    blockquotes = soup.find_all(\"blockquote\")\n    blockquote_texts = [b.get_text(\"\\n\", strip=True) for b in blockquotes]\n\n    # Extract content from Gmail-style <div class=\"gmail_quote\">\n    gmail_quotes = soup.find_all(\"div\", class_=\"gmail_quote\")\n    gmail_quote_texts = [g.get_text(\"\\n\", strip=True) for g in gmail_quotes]\n\n    # Combine all extracted hidden parts\n    hidden_parts = blockquote_texts + gmail_quote_texts\n\n    return \"\\n\\n--- Hidden Email Thread Start ---\\n\\n\" + \"\\n\\n\".join(hidden_parts) if hidden_parts else \"No hidden content found.\"\n\n# Get first item's \"body\" field\nhtml_email_body = items[0][\"json\"][\"body\"]\n\n# Output result in the format n8n expects\nreturn {\n    \"json\": {\n        \"hidden_history\": extract_hidden_email_history(html_email_body)\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        80
      ],
      "id": "b6e1fa18-1a79-4cf9-ae79-5a5bda8dadef",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\nconst emailRegex = /\\S+@\\S+\\.\\S+/g;\nconst signatureRegex = /--\\s*\\n(.*\\n)*/g;\n\nconst processedItems = items.map((item) => {\n  const splitText = item.hidden_history.split(\"From\");\n  const cleanedText = splitText.map((text) =>\n    text.replace(emailRegex, \"\").replace(signatureRegex, \"\"),\n  );\n  return { text: cleanedText };\n});\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        80
      ],
      "id": "9491cb47-fd28-4c70-b035-462d8e2eacd1",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "body_text",
              "renameField": true,
              "outputFieldName": "Conversation"
            },
            {
              "fieldToAggregate": "from_email"
            },
            {
              "fieldToAggregate": "to_emails"
            },
            {
              "fieldToAggregate": "cc_emails"
            },
            {
              "fieldToAggregate": "ticket_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -784,
        288
      ],
      "id": "829316ff-391b-4941-bbfb-6a0f305cb471",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -400,
        272
      ],
      "id": "ce3cf6af-b5d0-4f2a-8d91-be1cfad4dbbd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        624
      ],
      "id": "04d2ec45-e22d-4c91-93fd-826ba5c39751",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cleanedItems = items.map((item) => {\n  let cleanedText = item?.json?.hidden_history;\n\n  // Remove dates, time, \"\\n\", \">\"\n  cleanedText = cleanedText.replace(\n    /(\\d{2}\\/\\d{2}\\/\\d{4})|(\\d{2}:\\d{2}:\\d{2})|\\n|>/g,\n    \"\",\n  );\n\n  // Remove email signatures\n  cleanedText = cleanedText.replace(\n    /(From:.*<.*>)|(To:.*<.*>)|(CC:.*<.*>)/g,\n    \"\",\n  );\n\n  // Remove phone numbers\n  cleanedText = cleanedText.replace(\n    /(\\+\\d{1,2}\\s)?\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}/g,\n    \"\",\n  );\n\n  // Remove disclaimers\n  cleanedText = cleanedText.replace(/DISCLAIMER:.*$/g, \"\");\n\n  // Remove URLs\n  cleanedText = cleanedText.replace(\n    /(http|https):\\/\\/[\\w-]+(\\.[\\w-]+)+([\\w.,@?^=%&amp;:\\/~+#-]*[\\w@?^=%&amp;\\/~+#-])?/g,\n    \"\",\n  );\n\n  return { ...item?.json, hidden_history: cleanedText };\n});\n\nreturn cleanedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        80
      ],
      "id": "49c6b6ba-66ea-4c93-8b49-370ae4e87328",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cleanedItems = items.map((item) => {\n  let conversation = item.json.Conversation.join(\" \");\n\n  // Remove dates and time\n  conversation = conversation.replace(\n    /\\d{1,2}\\/\\d{1,2}\\/\\d{4}|\\d{1,2}-\\d{1,2}-\\d{4}|\\d{1,2}:\\d{2} [AP]M/g,\n    \"\",\n  );\n\n  // Remove newline characters\n  conversation = conversation.replace(/\\n/g, \"\");\n\n  // Remove email signatures\n  conversation = conversation.replace(/>.*|Sent from my .*/g, \"\");\n\n  // Remove phone numbers\n  conversation = conversation.replace(\n    /\\(?\\d{3}\\)?[-.\\s]?\\d{3}[-.\\s]?\\d{4}/g,\n    \"\",\n  );\n\n  // Remove disclaimers\n  conversation = conversation.replace(/Disclaimer:.*$/g, \"\");\n\n  return { ...item.json, Conversation: conversation };\n});\n\nreturn cleanedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        288
      ],
      "id": "57bf8078-e452-4533-9381-d1cf79785cf8",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node code\n\nconst inputText = $input.first().json.hidden_history; // Assumes the raw email thread is in a field called \"emailThread\"\n\nfunction extractEmailAddresses(line, prefix) {\n  const regex = new RegExp(prefix + \":[\\\\s\\\\n]*([^\\\\n]*)\", \"i\");\n  const match = line.match(regex);\n  if (match && match[1]) {\n    return match[1]\n      .split(\";\")\n      .map(email => email.trim().replace(/[>\\n]/g, \"\"))\n      .filter(Boolean);\n  }\n  return [];\n}\n\nconst cleanedText = inputText.replace(/[\\n\\r>]+/g, \" \").replace(/\\s+/g, \" \").trim();\n\n// Extract specific lines for From, To, CC, and Description\nconst fromMatch = cleanedText.match(/From:\\s*([^<]*<[^>]+>)/i);\nconst toMatch = cleanedText.match(/To:\\s*([^<]*<[^>]+>)/i);\nconst ccMatch = cleanedText.match(/Cc:\\s*([^<]*<[^>]+>)/i);\n\n// Build result object\nconst result = {\n  fromEmail: fromMatch ? fromMatch[1].trim() : \"\",\n  toEmails: toMatch ? toMatch[1].split(\";\").map(e => e.trim()) : [],\n  ccEmails: ccMatch ? ccMatch[1].split(\";\").map(e => e.trim()) : [],\n  description: cleanedText.substring(0, 500) // Optional: you can define how much context to include\n};\n\nreturn [result];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -144
      ],
      "id": "5e428f53-9139-4681-b3b5-ea2c165711ba",
      "name": "Code3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fdcustomername.freshdesk.com/api/v2/tickets/{{ $('Webhook').item.json.body.ticket_id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Base64EncodedPassword"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"body\": \"This is a private note added by CustomAI.ai -> \" + $json.data.openai_response, \"private\": true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        288
      ],
      "id": "2c39c421-4cac-489d-be70-dfa5c7646f24",
      "name": "HTTP Request1",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.customai.ai/api/v1/projects/64386/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Basic Base64EncodedPassword"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_source\": \"default\",\n  \"name\": \"{{ $json.output['Issue question'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        288
      ],
      "id": "28f322bd-296c-426e-a7af-9a8466a427be",
      "name": "Create CustomAI Conversation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.customai.ai/api/v1/projects/{{ $json.data.project_id }}/conversations/{{$json.data.id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Basic Base64EncodedPassword"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_source\": \"default\",\n  \"prompt\": \"{{ $('If').item.json.output['Issue question'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        288
      ],
      "id": "d0f0d7c6-7bb4-409e-9fb8-b49dac9f37b3",
      "name": "CustomAI Prompt Question"
    },
    {
      "parameters": {
        "content": "## Just Edited two nodes above\nLet me know if you have any question\n\nI cannot test it by myself especially running the previous nodes.\n",
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        480
      ],
      "id": "c06f7ed8-f4c8-4556-a232-f621fba68533",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=🧠 Step 1: Summarize the Email Conversation.\nThe email conversation is in these inputs -> {{ $json.text }},{{ $json.Conversation }} and {{ $json.from_email }}{{ $json.to_emails }}{{ $json.cc_emails }}\nObjective: Generate a concise summary capturing the key points, tone, and relevant details.\n\nOutput Format should contain the following fields as separate json items:\n\n1. Participants: List of people involved.\n\n2. Issue Summary: One-paragraph description of the core discussion/problem.\n\n3. Timeline: Brief overview of the progression of the conversation.\n\n4. Tone Detection: Note if the tone is frustrated, urgent, confused, neutral, etc.\n\n5. Already Resolved?: Yes/No\n\n6. Issue question: Generate additional output item with detailed explanation of the issue experienced as a question so it can be sent to a Knowledge base AI\n\n🔍 Step 2: Identify and Estimate the Issue\nIssue Extraction:\n\nUse language patterns to detect keywords like problem, error, delay, can’t, issue, unexpected, etc.\n\nClassify the issue using common support categories (e.g., login issue, API failure, payment issue).\n\nConfidence Estimation: Assign a confidence score or flag if the issue type is ambiguous.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -128,
        272
      ],
      "id": "d6735159-1aea-477d-91ab-1c7b93866cb7",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transform": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create CustomAI Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create CustomAI Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create CustomAI Conversation": {
      "main": [
        [
          {
            "node": "CustomAI Prompt Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CustomAI Prompt Question": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50c3f653-a7c6-4158-8439-352200c0e08f",
  "meta": {
    "instanceId": "f8c3a022c05815c69eee0708ec31295aae0684deec9eeb2e3b27d3a96b965b28"
  },
  "id": "aEENKb9WwSQmaT4m",
  "tags": []
}